* {
    margin: 0;
    padding: 0;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.myntra_home {
    height: 45px;
}
.logo_container {
    margin-left: 4%;
}
.action_bar {
    margin-right: 4%;
}
.nav_bar {
    display: flex;
    min-width: 500px;
    /* min-width: 450px; */
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    /* color: #282c3f; */
    color: rgb(12, 11, 11);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 30px 0;
    border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
    border-bottom: 2px solid #696e79;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}

.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main section */
.banner_container {
    margin: 40px ,0;
}
.banner_image {
    width: 100%;
    height: 350px;
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
    /* width: 300px; */
} 

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-evenly;
}

.footer_column {
    display: flex;
    flex-direction: column;
}

.footer_column h3 {
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer_column a {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.copyright {
    color: #94969f;
    text-align: center;
    padding: 15px;
}

   /* MEDIA QUERIES FOR RESPONSIVENES */

/* Medium screens (Tablets and small laptops) */
@media (max-width: 750px) {
    header {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 4%;
    }

    .nav_bar {
        flex-wrap: wrap;
        justify-content: center;
        min-width: unset;
        gap: 15px;
        padding: 10px 0;
    }

    .search_bar {
        width: 100%;
        margin: 10px 0;
        max-width: 100%;
    }

    .action_bar {
        width: 100%;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .category_items {
        justify-content: center;
        gap: 20px;
    }

    .sale_item {
        width: 200px;
    }

    .banner_image {
        height: auto;
    }

    .footer_container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 30px 10px;
    }

    .footer_column {
        width: 45%;
    }
}

/* Small screens (Mobiles) */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 4%;
    }

    .logo_container {
        margin-left: 0;
    }

    .nav_bar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav_bar a {
        padding: 10px 0;
    }

    .search_bar {
        flex-direction: row;
        width: 100%;
        margin: 10px 0;
    }

    .search_icon {
        padding: 8px;
    }

    .search_input {
        width: 100%;
    }

    .action_bar {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }

    .category_heading {
        font-size: 1.2em;
        text-align: center;
        margin-left: 0;
    }

    .category_items {
        flex-direction: column;
        align-items: center;
    }

    .sale_item {
        width: 90%;
    }

    .footer_container {
        flex-direction: column;
        align-items: center;
    }

    .footer_column {
        width: 100%;
        text-align: center;
    }
}
